@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.fig {
	margin: 0;
	padding: 0;
	position: relative;
}

.cap {
	position: absolute;
	left: 45px;
	bottom: 5px;
	right: 10px;
	font-size: 1.125rem;
	font: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: italic;
	color: white;
	background-color: rgbargba(0,0,0,0.5)
}
.main {
	padding: 1.5rem;
}

.header {
	font-family: helvetica;
	color: #4A1C01;
	font-size: 1.5rem;
}

.box {
	width: 33.3%;
	float: left;
}

.small {
	text-transform: uppercase;
}

.sub {
	font-size: 1rem;
	color: grey;
}

.body {
	font-size: .8rem;
}
